#hideButton {
    text-decoration: none;
    left: 50%;
    top: 67%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    width: 60%;
    height: 10%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    position: fixed;
    z-index: 1400;
    display: none;
    animation: sun 8s infinite;
}

#hideButton::before {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 50px;
    filter: blur(20px);
    z-index: -1;
    animation: sun 8s infinite;
}
#hideButton span {
    user-select: none; /* 禁止内部文字选择 */
}
@keyframes sun {
    100% {
        background-position: -400% 0;
    }
}